@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager

@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
        <h1 class="display-1 text-info">You are not logged in</h1>
    </div>

    <p class="px-3 mb-3">This application requires you to register in order to make your own Albums and Pet Pictures. Please press the button below to register/login or explore the demo that comes pre installed with pictures in order to showcase the app</p>

    <div class="d-flex justify-content-center">
        <a role="button" asp-action="Register" class="btn btn-dark btn-lg">Register</a>
        <a role="button" asp-action="Login" class="btn btn-secondary btn-lg">Log in</a>
        <a role="button" asp-area="Demo" asp-controller="Demo" asp-action="Index" class="btn btn-success btn-lg">Use Demo</a>
    </div>