@model FormLogIn

@{
    ViewBag.Title = "Log In";
}
@section Styles {
<link rel="stylesheet" href="~/css/form.css"/>
}

<h1 class="custom-title mt-4">Log In</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Login" class="ps-4" method="post">
    <div class="input-group input-group-lg row">
        <span asp-for="Username" class="input-group-text col-sm-2">Username</span>
        <input asp-for="Username" class="form-control" />
        <div>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    <div class="input-group input-group-lg row my-4">
        <span asp-for="Password" class="input-group-text col-sm-2">Password</span>
        <input asp-for="Password" type="password" class="form-control" />
        <div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="input-group input-group-lg row my-4">
        <div class="input-group-text col-sm-2">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input mt-0" aria-label="Checkbox for Remember Me"/>
        </div>
        <span asp-for="RememberMe" class="input-group-text col-sm-5">Remember Me</span>
    </div>

    <div class="d-grid col-6 mt-4">
        <button type="submit" class="btn btn-primary">Log In</button>
        <span>Don't Have an Account? <a asp-action="Register" asp-controller="Home">Register</a></span>
    </div>
</form>

