@{
    ViewData["Title"] = "Privacy Policy";
}
<img src="~/assets/Diddy Bruh.jpg" class="rounded float-end border border-warning" width="500" height="500" />
<h1 class="custom-title mt-4">@ViewData["Title"]</h1>

<p>This privacy policy outlines how we collect, use, and protect personal information on Petstagram.</p>

<h2 class="custom-title">Information We Collect</h2>
<p>We collect the following information on Petstagram:</p>
<ul>
    <li>Usernames</li>
    <li>Pet Pictures</li>
</ul>

<h2 class="custom-title">How we use information</h2>
<p>We use the collected information in the following ways:</p>
<ul>
    <li>To provide and improve our project</li>
    <li>To challenge ourselves and make future projects better</li>
    <li>To share everyone love of animals</li>
</ul>

<h2 class="custom-title">In Additon</h2>
<p>If you are my professor from Data Structures, one of my friends, or someone looking to hire me...</p>
<p>HI!!!! Hope you like it</p>
<p>Also this is my dog. His name is Diddy! He says hi!</p>
