@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link rel="stylesheet" href="~/css/main.css" />
}

<div class="text-center mt-4">
    <h1 class="display-4 custom-title">Petstagram</h1>
</div>
<div id="main-sec" class="menu d-flex flex-column justify-content-around">
    @{
        if (!ViewBag.empty)
        {
            <p type="button" class="btn btn-secondary btn-lg" disabled>Add Photo</p>
        } else
        {
            <a asp-action="AddPic" class="btn btn-dark btn-lg">Add Photo</a>
        }

        <a asp-action="AddPet" class="btn btn-dark btn-lg">Add Album</a>
        <a asp-controller="Data" asp-action="ShowPics" class="btn btn-dark btn-lg">View all Photos</a>
        <a asp-action="ViewPets" class="btn btn-dark btn-lg">View all Albums</a>
    }
</div>
