@{
    ViewData["Title"] = "ShowPics";
}

@section Styles {
    <link rel="stylesheet" href="~/css/showings.css" />
}

<a class="btn btn-dark btn-lg float-start text-light w-10" asp-action="Index" asp-controller="Pet">&#8592; Back</a>
@if (ViewBag.Pics.Count > 0)
{
    <h1 class="text-center custom-title mt-4">Photos</h1>
    <div class="card-container mt-3">
        @foreach (var picture in ViewBag.Pics)
        {
            <a asp-action="DetailPic" asp-route-id="@picture.Id" asp-route-prevUrl="@Url.PageLink()" class="card mb-3">
                <div class="card-img-holder">
                    <img src="~/petpictures/@picture.FileName?t=@picture.LastModified.Ticks" class="card-img-top custom-card-img bg-dark">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Html.Raw(picture.DisplayName)</h5>
                    <p class="card-text">@picture.UploadDate</p>
                </div>
            </a>
        }
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-1 text-info">No Pictures here to show.</h1>
        <a role="button" asp-controller="Pet" asp-action="AddPic" class="btn btn-link btn-lg">Add Album</a>
    </div>
}
