@{
    ViewData["Title"] = "Graphs Demo";
}

@section Styles {
    <link rel="stylesheet" href="~/css/showings.css" />
}

<a class="btn btn-dark btn-lg float-start text-light w-10" asp-action="Index" asp-controller="Pet">&#8592; Back</a>
    <h1 class="text-center custom-title mt-4">Graphs</h1>
    <div class="card-container mt-3">
        @foreach (var pet in ViewBag.Pets)
        {
            bool hasPic = pet.Pictures.Count > 0;
            if (!hasPic)
            {
                continue;
            }
            Picture picture = pet.Pictures[0] ?? null;
            <a asp-action="StartGraph" asp-route-id="@pet.Id" class="card mb-3">
                <div class="card-img-holder">
                    <img src="~/demo/@picture.FileName?t=@picture.LastModified.Ticks" class="card-img-top custom-card-img bg-dark">
                </div>
                <div class="card-body bg-dark">
                    <h5 class="card-title text-light">@Html.Raw(pet.Name)</h5>
                </div>
            </a>
        }
    </div>
